<!DOCTYPE html>

<html>


<!-- <head> is for metadata -->
<head> 


    <meta charset="UTF-8">

    <!-- For the page to be responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>MONERO DASHBOARD</title>

</head>


<!-- <body> is for what the host see -->
<body>

    <h1>Monero Dashboard</h1>
    <p>This is the first look of the web page, not very interesting</p>
    
    <input type="text" id="address" name="address" placeholder="Insert your MONERO wallet address" size="110">





    
</body>





</html>